 /* ============================

      Parte do Background

=============================*/
 
 body{
   margin: 0px;
   padding: 0px;
   background-color: #d43a29;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
/* ============================

        Parte da NavBar

=============================*/

#icon{
   width:54px ;
   height: 62px;
   padding-left: 200px;
}

#navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   background-color: #000000d8;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 #links{
   padding-right: 200px;
 }

/* ============================

      Parte das Notícias

=============================*/

 #noticias{
   padding: 6px;
   gap: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
 }

 #noticia_texto{
   background-color: aliceblue;
   text-align: center;
   color: rgb(0, 0, 0);
   padding: 20px;
   gap: 30px;
 }

 .noticia{
   padding: 20px;
   padding-bottom: 20px;
   max-width: 350px;
   max-height: 550px; 
   border-radius: 15px;
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   background-color: #77170d;
   border: 5px solid #000000d8;
   color: aliceblue;
 }

 .noticia h3{
   text-align: center;
 }

 .img_noticia{
   align-items: center;
   justify-content: center;
   width: 350px;
   height: 300px;
   border: 0px;
   border-radius: 15px;
 }

/* ============================

Parte da escalação de jogadores

=============================*/

#escalacao{
   background-color: #77170d;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#texto_escalacao{
   text-align: center;
   font-size: 50px;
   text-align: center;
}

#escala{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   text-align: center;
   font-size: 14px;
   gap: 10px;
}

.funcao{
   text-align: center;
}

.jogador{
   padding: 5px;
   width: 150px;
   font-style:italic;
   padding-bottom: 30px;
}

.img_jogo{
   width: 95px;
   height: 100px;
}

