 /* ============================

      Parte do Background

=============================*/
 
 body{
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 0px;
   background-image: url(assets/image/fundomengosemlogo.png);
   background-size:100%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
/* ============================

        Parte da NavBar

=============================*/

#icon{
   width:54px ;
   height: 62px;
   padding-left: 200px;
   margin-right: 53px;
}

#navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   background-color: #ffffffd8;
   color: rgb(0, 0, 0);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 #links{
   padding-right: 200px;
 }

/* ============================

      Parte das Notícias

=============================*/

 #noticias{
  background-color: rgba(0, 0, 0, 0.479);
  background-size:290%;
  padding: 6px;
  padding-top: 50px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
 }

 #texto_noticias{
  color: black;
  background-color: #ffffffd8 ;
  text-align: center;
  padding: 1px;
  margin-top: 30px;
 }

 #noticia_texto_barra2{
   background-color: #ffffffd8;
   padding: 3px;
 }

 .noticia{
   padding: 20px;
   padding-bottom: 20px;
   max-width: 350px;
   max-height: 600px; 
   border-radius: 15px;
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   background-color: rgba(0, 0, 0, 0.692);
   background-size: 500%;
   border: 2px solid #ffffffd8;
   color: aliceblue;
 }

 .noticia h3{
  text-align: center;
  font-size: medium;
 }

 .img_noticia{
   align-items: center;
   justify-content: center;
   width: 350px;
   height: 300px;
   border: 0px;
   border-radius: 15px;
 }

/* ============================

Parte da escalação de jogadores

=============================*/

#escalacao{
  background-image: url(assets/image/fundoflamengo.jpg);
  background-size:290%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#barra_branca{
  background-color: #ffffffd8;
  padding: 3px;
  margin-top: 40px;
}

#texto_escalacao{
   text-align: center;
   font-size: 50px;
   text-align: center;
}

#escala{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   text-align: center;
   font-size: 14px;
   gap: 10px;
}

.grupo{
  background-color: rgba(0, 0, 0, 0.568);
  background-position: 10px;
  width: 150px;
  border: 2px solid rgba(0, 0, 0, 0.473);
  border-radius: 15px;
  font-size: medium;

  padding: 4px;
  font-style:italic;
  margin-bottom: 50px;
}

.dois{
  margin-bottom: 35px;
}

.funcao{
   text-align: center;
}


.img_jogo{
   width: 95px;
   height: 100px;
}

/* ============================

Parte da escalação do Footer

=============================*/

#barra_branca2{
  background-color: #ffffffd8;
  padding: 3px;
}

#texto_direitos{
  text-align: center;
  color: white;
}
