 body{
    margin: 0px;
    padding: 0px;
    background-color: #d43a29;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
#icon{
    width:54px ;
    height: 62px;
    padding-left: 200px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #000000d8;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 #links{
padding-right: 200px;
 }

 #noticias{
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
 }

 .noticia{
    height: 1000;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: #77170d;
    border: 5px solid #000000d8;
    border-radius: 15px;
    max-width: 450px;
    text-align: justify;
    max-height: 550px;
    margin: auto;
    font-size: 15px;
 }

 .img_noticia{
    width: 450px;
    height: 400px;
    border: 0px;
    border-radius: 15px;
 }

#escalacao{
   background-color: #77170d;
   padding: 60px;
   color: white;
   border: 30px;
}

#texto_escalacao{
   text-align: center;
}


.jogador{
   padding: 50px;
   text-align: center;
}

.img_jogo{
   width: 100px;
   height: 100px;
}

#escala{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 30px;
}

